
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<style>

    body{
      
        margin:0 auto;
        width:960px;

    }
    #header{
     
       height:45px;
       border-bottom:1px solid #a31111;
    }
    #menu{
        background-color:#a31111;
        width:692px;
        height:45px;
        float:left;
        margin-left:40px;
    }
    .menu{
        
       padding:10px;

    }

    .menu a{
        color:#e1dddd;
        padding-left:20px;
        text-decoration:none;
        font-family:'Times New Roman', Times, serif;
        font-size:20px;
    }

    .menu a:hover {
        color:white;
        }

    #logo{
        float:left;
        
         height:45px;
    }

    #logo span{
       font-family:Calibri;
       font-size:48px;
    }


</style>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title | eBlog</title>
</head>
<body>
    
        <div id="header">
            <div id="logo">
                <span style="color:#062886">Simple Blog</span>
            </div>

            <div id="menu">
                <div class="menu">
                    <a href="@Url.RouteUrl("Home")">Home</a>
                    <a href="@Url.RouteUrl("Login")">Login</a>
                </div>


            </div>
        </div>
        <br />
        <div>
            <center>
                @RenderBody()
            </center>
        </div>


    <footer>
       <p style="text-align:right">eraydemir &copy;@DateTime.Now.Year</p> 
    </footer>
        @RenderSection("Scripts", false)
</body>
</html>
